<!-- views/view-lesson.ejs -->

<h2>Lesson Details</h2>
<table border="1">
    <tr>
        <th>Lesson ID</th>
        <th>Subject Name</th>
        <th>Quarter ID</th>
        <th>Section 1</th>
        <th>Section 2</th>
        <th>Section 3</th>
        <th>Section 4</th>
        <th>Section 5</th>
        <th>Section 6</th>
        <th>Section 7</th>
        <th>Section 8</th>
        <th>Section 9</th>
        <th>Section 10</th>
        <th>Date Created</th>
        <th>Date Available Until</th>
        <th>Published</th>
    </tr>
    <tr>
        <td><%= lesson.lessonID %></td>
        <td><%= lesson.subjectname %></td>
        <td><%= lesson.quarterID %></td>
        <td><%= lesson.section1 %></td>
        <td><%= lesson.section2 %></td>
        <td><%= lesson.section3 %></td>
        <td><%= lesson.section4 %></td>
        <td><%= lesson.section5 %></td>
        <td><%= lesson.section6 %></td>
        <td><%= lesson.section7 %></td>
        <td><%= lesson.section8 %></td>
        <td><%= lesson.section9 %></td>
        <td><%= lesson.section10 %></td>
        <td><%= lesson.dateCreated %></td>
        <td><%= lesson.dateAvailableUntil %></td>
        <td><%= lesson.published %></td>
    </tr>
</table>
